html {

    margin-left: auto;
    margin-right: auto;
    margin: 0em;
    padding: 0em;
    text-align: center;
    --green: rgb(2, 135, 77);
    --grey: rgb(197, 197, 197);
}

header {
    background-color: var(--green);
    color: white;
    padding: 1.5em;
}

main {
    padding: 1em;
    background-color: var(--grey);
}

ul {
    list-style-type: none;  
    text-decoration: solid;
    padding: 0em;
    letter-spacing: 0.1em;
}

li {
    padding: 0.5em;
}

button {
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
}

button:active {
    background-color: #496159;
}

footer {
    padding: 1em;
    background-color: var(--green);
    color: white;
}

@media only screen and (max-width: 768px) {
    main {
        max-width: 40em;
    }
}